body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F9CCD3;
}

header {
    background-color: #AA1945;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    padding: 20px;
    margin: 10px;
}

h2 {
    color: #333;
}

#motivational-quotes p {
    font-style: italic;
    color: #555;
}

form {
    display: flex;
    flex-direction: column;
}

input, select {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #AA1945;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #b5515f;
}

#meal-plans-container, #video-library-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
