
.faq-section {
    position: relative;
    left: 23vw;
    max-width: 600px;
    width: 40vw;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 2rem;
}

.faq-section h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.faq-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color:#AA1945;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}

.faq-question:hover {
    background-color: #0056b3;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding-left: 10px;
    color: #333;
}

.faq-item.active .faq-answer {
    max-height: 100px; /* Adjust as needed */
    padding: 10px 0;
}