
*{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(#F4D9D0,#C1ACA5);
    background-repeat: no-repeat;
}

header{

    background-image: url(headerimg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:60vh;
    margin-top: 5vh;
    color: white;
}

#webname{

    position: relative;
    top:10vh;
}

#webmessage{

    position: relative;
    top:10rem;
    left:70vw;
    
}

.pink_heading{
    color: #6A0928;
}

.pink_button{
    background-color: #6A0928;
    color: white;
    padding:0.5rem;

}

.faq1{
    background-color: white;
    margin: 1rem;
    padding: 0.5rem;
    width:70vw;
}

footer{

    background-color: #6A0928;
    color:white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height:30vh;
    margin-top: 2rem;
}

li{
    list-style: none;
}

#navbar{
    position: relative;
    bottom:3rem;
    left:7rem;
    display:flex;
    justify-content: space-evenly;
    width:30vw;
    color:#6A0928;
    font-weight: bolder;

}

.login{
   
    position: relative;
    right:-90vw;
    bottom:4rem;
    padding: 0.5rem;

}